In [192]:
import random
import pandas as pd
import numpy as np

Как перенести код в one hot вид без использования get_dummies?

In [193]:
lst = ['robot'] *10
lst += ['human'] * 10
# lst

In [194]:
np.random.shuffle(lst)
# lst

In [195]:
number = []
for el in lst:
    if el == 'human':
        number.append(1)
    else:
        number.append(0)
data_2 = pd.DataFrame(number)
data = pd.DataFrame(lst)
data_2.columns = ['Цифровой код']
data.columns = ['whoAmI']
# data_2

In [196]:
df = pd.concat([data, data_2], axis=1)
df.head(8)

  whoAmI  Цифровой код
0  human             1
1  robot             0
2  robot             0
3  human             1
4  robot             0
5  human             1
6  human             1
7  human             1